<div class= "container">
 <div class= "row">
  <h1 class= "text-center">注文情報入力</h1>
   <div class= "border col-5">
    <%= form_with model:@order,local:true do |f| %>
     <div class= "form-group">
      <h2 class="font-weight-bold">支払方法</h2>
       <%= f.radio_button :payment_method, "credit_card" %>
       <%= f.label :payment_method, "クレジットカード" %>
       <br>
       <%= f.radio_button :payment_method, "transfer" %>
       <%= f.label :payment_method, "銀行振込" %>
     </div>
     <div class= "form-group">
      <h2 class= "font-weight-blod">お届け先</h2>

     </div>
     <div class= "form-group">
       <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
       <%= f.text_field :postal_code, class: "form-control" %>
     </div>
     <div class= "form-group">
       <%= f.label :address, "住所" %>
       <%= f.text_field :address, class: "form-control" %>
     </div>
     <div class= "form-group">
       <%= f.label :name, "宛名" %>
       <%= f.text_field :name, class: " form-control" %>
     </div>
     <%= f.submit "確認へ進む", class: "btn btn-primary" %>
    <% end %>
   </div>
 </div>
</div>