<div class= "container">
 <div class= "row">
  <div class= "mx-auto">
   <div class= "col-8"></br>
    <%= attachment_image_tag @item, :image, :fill, 500, 500, format: 'jpeg',fallback: "no_image.jpeg" %>
   </div><br>
   <div class= "col-8">
    <h2><%= @item.name %></h2></br>
     <p><%= @item.introduction %></p>
     <p>¥<%= (@item.price*1.1).floor %>（税込）</p>
     <div>
     <%= form_with model:@cart_item,local:true do |f| %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.select :amount, *[1..99] %>
      <%= f.submit "カートに入れる" , class: "btn btn-primary" %>
     <% end %>
   </div>
  </div>
  </div>
 </div>
</div>